/* General Styles */

.column {
    float: left;
    width: 33.33%;
}

.row::after {
    content: "";
    clear: both;
}

.clearfix {
    clear: both;
}

.secondary {
    display: flex;
}



.column4 {
    float: left;
    width: 25%;
}

/* Typography */

body {
    font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif; 
}

/* Forms */

input[type=text], textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 10px;
    color:rgb(7, 118, 124);
}

input[type=submit] {
    background-color: rgb(7, 118, 124);
    color: #ffffff;
    padding: 10px 15px;
    border: 0;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: rgb(3, 54, 57);
}

.contact-container {
    background-color: rgba(7, 118, 124, 0.16);
    padding: 25px;
}

/* Footer */

.footer {
    background-color: rgb(3, 54, 57);
    padding: 15px;
    color: #ffffff;
}

.fa-brands {
    padding: 20px;
    font-size: 30px;
    text-decoration: none;
}

.fa-tiktok {
    background-color: #ffffff;
    color:rgb(3, 54, 57)
}

.fa-tiktok:hover {
    background-color: rgb(7, 118, 124);
}